<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Store</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <section id="container-body">

        <header>
            <ul>
                <li><a href="../home/index.html">HOME</a></li>
                <li><a href="#">STORE</a></li>
                <li><a href="../about-us/index.html">ABOUT</a></li>
                <<li><a href="../order/index.html">ORDER</a></li>
            </ul>
            <div class="cart">
                <a href="#" id="cart-top" class="cart-top">cart<span class="cart-number">0</span></a>
            </div>
            <h1 id="title">The Generics</h1>
        </header>

        <main>
            <section id="container-parent">
                <section class="album" id="album">
                    <h3 class="title-music">MUSIC</h3>
                    <div class="container-product" id="container-product">
                        
                    </div>
                    <section class="pagination" id="pagination"></section>
                    <div class="notif-div"></div>
                </section>

                <section id="cart-float" class="cart-float">
                    <h2>Cart</h2>
                    <button id="cancel" class="cancel">X</button>
                    <div class="heading-div">
                        <span>Product</span>
                        <span>Price</span>
                        <span>Quantity</span>
                    </div>
                    <div class="cart-items" id="cart-items"></div>
                    <div id="order-div">
                        <button id="order-btn">Order Now</button>
                    </div>
                    <div class="cart-total">
                        <span>
                            <span class="total-title"><strong>Total</strong></span>
                            $<span id="total-value">0</span>
                        </span>
                    </div>
                </section>

                <div class="see-cart" >
                    <button id="see-cart">See The Cart</button>
                </div>


            </section>
        </main>

        <footer>
            <h2>The Generics</h2>
            <div class="icons">
                <ul>
                    <li><a href=""><img
                                src="https://prasadyash2411.github.io/ecom-website/img/6260efc8fc9a9002669d2f4ad9956cc0.jpg"
                                alt=""></a></li>
                    <li><a href=""><img src="https://prasadyash2411.github.io/ecom-website/img/Spotify%20Logo.png"
                                alt=""></a></li>
                    <li><a href=""><img src="https://prasadyash2411.github.io/ecom-website/img/Facebook%20Logo.png"
                                alt=""></a></li>
                </ul>
            </div>
        </footer>

        <script src="script.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
    </section>
</body>

</html>