@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

header ul {
    display: flex;
    justify-content: center;
    background-color: black; 
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid white;
}

header ul li {
    padding: 0 1.5rem;
    font-size: 1.2rem;
}

header ul a {
    color: white;
    text-decoration: none;
}

header h1 {
    padding: 30px;
    background: #777;
    padding-bottom: 30px;
    font-size: 6rem;
    color: white;
}

header div {
    position: fixed;
    right: 2%;
    top: 2mm;
    
}

header div a {
    text-decoration: none;
    color: white;
    border: 2px solid #56ccf2;
    padding: 2px 10px;
    font-size: 22px;
    border-radius: 8px;
}

header div span {
    color: #56ccf2;
    font-size: 22px;
    position: fixed;
    top: 0;
    padding-left: 11px;
}

/*-----------------------------album-------------------------------*/

main .container-product {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 30px;
}

section .title-music {
    text-align: center;
    padding: 15px;
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
    font-family: 'MedievalSharp', sans-serif;
}

section .container-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

div .product {
    padding: 20px;
}

div .product h4{
    text-align: center;
    font-size: 140%;
    font-weight: bold;
} 

div .product img {
    width: 300px;
    height: 300px;
    padding: 20px;
    
}

div .product button {
    right: 1%;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    background: #56ccf2;
    font-size: 15px;
    font-weight: bold;
    margin-left: 7rem;
    border: none;
    cursor: pointer;
}


/*-------------------------------------------------------merch---------------------------------------------------------*/

main .container-merch {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 30px;
}

section .title-merch {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'MedievalSharp', sans-serif;
}

section .container-merch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div .product-merch {
    padding: 20px;
}

div .product-merch h4{
    text-align: center;
    font-size: 140%;
    font-weight: bold;
} 

div .product-merch img {
    width: 300px;
    height: 300px;
    padding: 20px;
    
}

div .product-merch button {
    right: 1%;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    background: #56ccf2;
    font-size: 15px;
    font-weight: bold;
    margin-left: 7rem;
    border: none;
    cursor: pointer;
}

/*---------------------------------------------------*/

main .see-cart {
    text-align: center;
}

.see-cart button{
    background: #777;
    color: #56ccf2;
    border-radius: 5%;
    padding: 15px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

/*-------------------------------------------------*/

main .cart-float {
    min-height: 50vh;
    border: 1px solid black;
    position: fixed;
    top: 50px;
    height: 95%;
    right: 0;
    padding: 20px;
    background: white;
    display: none;
    max-width: 27%;
    
}

.cart-float h2 {
    text-align: center;
    font-family: 'MedievalSharp', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}

.cart-float .cancel {
    position: absolute;
    right: 0;
    top: 1px;
    margin-top: 0;
    padding: 5px 10px;
    border: black solid 1px;
    color: black;
    background: white;
    cursor: pointer;

}

.cart-float .heading-div {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    font-size: 23px;
    font-weight: bold;
}

.cart-float span {
    display: flex;
    padding: 0 1rem;
}


.cart-total {
    display: flex;
    /* justify-content: center; */
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
}

/*-------------------------------------------------------------------------*/

footer {
    background: #56ccf2;
    margin-top: 40px;
    display: flex;
    padding: 20px;
}

footer h2 {
    color: white;
    width: 50%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

footer .icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

.icons ul {
    list-style-type: none;
    display: flex;
} 

.icons li {
    padding: 10px;
    margin: 0px 20px;
    float: inline-end;
}

.icons img {
    width: 30px;
} 

/*-------------side cart js-------------------*/

.cart-items span {
    padding: 0;
    margin-left: 10px;
}

.cart-class-img {
    width: 70px;

}

.cart-div {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: 100;

}

.cart-div span {
    align-items: center;
}

.cart-div span input {
    width: 30px;
    padding: 2px;
    margin: 10px;
    border: 1px solid #56ccf2;
    margin-right: 20px;
    text-align: center;
}

.cart-div span button {
    padding: 5px;
    background: red;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#order-div {
    text-align: center;

}

#order-btn {
    padding: 5px;
    background: #56ccf2;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

/*--------------notification---------------------*/

.notif-div {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.notif-div div {
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    background: #56ccf2;
    color: white;
    border: none;
    border-radius: 6px;
    margin: 1rem;
}

/*----------------------------------------------*/

.pagination {
    margin-top: 2rem;
    text-align: center;
  }
  
  .pagination button {
    text-decoration: none;
    color: #00695c;
    padding: 0.5rem;
    border: 1px solid #00695c;
    margin: 0 1rem;
    cursor: pointer
  }
  
  .pagination button:hover,
  .pagination button:active,
  .pagination button.active {
    background: #00695c;
    color: white;
  }