<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="../home/index.html">HOME</a></li>
            <li><a href="../store/index.html">STORE</a></li>
            <li><a href="../about-us/index.html">ABOUT</a></li>
            <li><a href="#">ORDER</a></li>
        </ul>
        <h1 id="title">Order History</h1>
    </header>

    <main>
        <div id="div"></div>
    </main>

    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
</body>
</html>